@font-face {
  font-family: 'Carena';
  src: url('Carena-Regular.otf');
}

@font-face {
  font-family: 'Caviar';
  src: url('CaviarDreams.ttf');
}

:root {
  --dark: #D44167;
  --pink: #FA7EA3;
  --neutral:#FBA2BA;
  --light:#F6C8D1;
  --lightest:#F3EEE6;

  --font: #F39237;
} 

html {
  background-color: #F3EEE6;
  opacity: 1;
  background: radial-gradient(circle, transparent 20%, #F3EEE6 20%, #F3EEE6 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #F3EEE6 20%, #F3EEE6 80%, transparent 80%, transparent) 20px 20px, linear-gradient(#FFC6D1 1.6px, transparent 1.6px) 0 -0.8px, linear-gradient(90deg, #FFC6D1 1.6px, #F3EEE6 1.6px) -0.8px 0;
  background-size: 40px 40px, 40px 40px, 20px 20px, 20px 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
background: linear-gradient(90deg, var(--lightest), #F3DED8, var(--light));
padding: 2em;
}

header section {
display: flex;
justify-content: space-between;
}

header section p {
font-family: 'Carena';
font-size: 1.8em;
color: var(--dark);
}

header section p span {
color: var(--pink);
}

header section article:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.5em;
  font-family: 'Carena';
  right: 0;
  top: 1rem;
  z-index: 10;
  }

header section article > div {
  position: relative;
  font-size: 0.875rem;
  text-shadow: 1px 1px var(--light);
  letter-spacing: 1px;
}
  
header section article > div::before {
  content: "";
  position: absolute;
  z-index: -2;
  background-color: var(--neutral);
  left: 0;
  bottom: 0;
  max-width: 100%;
  height: 50%;
  width: 0;
  transition: width 500ms;
  border-radius: 3em;
}

header section article > div:hover::before {
  width: 100%;
  border-radius: 3em;
  cursor: pointer;
}

header section article > div.active::before {
  width: 100%;
}

header section article div:first-child {
display: flex;
font-size: 10px;
gap: 10px;
}

header section article div:nth-child(2) {
display: flex;
font-size: 10px;
gap: 10px;
}

header section article div:nth-child(3) {
display: flex;
font-size: 10px;
gap: 10px;
}

#grade {
display: flex;
font-size: 10px;
gap: 10px;
border: 3px solid #D44167;
padding: 2em;
border-radius: 5em;
transition: all 0.2s;
animation: bounce 5s infinite linear;
position: relative;
}

#grade:hover {
  background-color: #D44167;
  color: #F3EEE6;
  cursor: pointer;
}

@keyframes bounce {
  0% {
    top: 0em;
  }
  40% {
    top: 0em;
  }
  43% {
    top: -0.9em;
  }
  46% {
    top: 0em;
  }
  48% {
    top: -0.4em;
  }
  50% {
    top: 0em;
  }
  100% {
    top: 0em;
  }
} 

header section article img {
  height: 20px;
}

main section article {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10em;
}

main section article:first-child {
  font-family: 'Caviar';
  font-size: 3em;
  font-weight: 1000;
  color: var(--dark);
  text-align: end;
}

.paragraphs {
  position: relative;
}

.elements {
  background: linear-gradient(180deg, var(--dark), #EB5C84, var(--pink))
}

.line1 {
  height: 5px;
  width: 7em;
  position: absolute;
  top: 3em;
  border-radius: 5em;
}

.line2 {
  height: 5px;
  width: 15em;
  position: absolute;
  top: 6.5em;
  left: 5em;
}

.para1 {
  position: absolute;
  top: 2.5em;
  left: 8em;
  z-index: 3;
  white-space: nowrap;
}

#puno {
  font-family: 'Carena' !important;
  font-weight: 600 !important;
  text-transform: uppercase;
  font-size: 1em !important;
  position: absolute;
  top: 3.9em;
  left: 5em;
  z-index: 3;
  white-space: nowrap;
}

.para2 {
  position: absolute;
  top: 6.8em;
  left: 6.3em;
  z-index: 3;
  white-space: nowrap;
  text-transform: uppercase;
}

.relative {
  position: relative;
}

.curvy {
  position: absolute;
  right: -0em;
  top: -.55em;
  background: url(curvy.png);
  opacity: 1 !important;
  background-position: right top;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 2;
  width: 18em !important;
  height: 16em !important;
  overflow: hidden;
}

.oli {
  position: absolute;
  right: 0;
  top: 1.5em;
  background: url(background.png);
  opacity: 1 !important;
  background-position: right top;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
  width: 13em !important;
  height: 13em !important;
}

.separateDiv {
  background-color: var(--pink);
  padding: 1em;
  width: 40em;
  border-radius: 0 3em 3em 0;
  font-family: 'Carena';
  font-size: 18px;
  color: var(--lightest);
  display: flex;
  justify-content: end;
  align-items: center;
  gap:1em;
  letter-spacing: 1.2px;
  outline: 0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, .1);
}

.separateDiv:hover {
  cursor: pointer;
  opacity: .8;
}

.separateDiv .animation {
  border-radius: 100%;
  animation: ripple 0.6s linear infinite;
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1);
  }

  100% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1), 0 0 0 80px rgba(255, 255, 255, 0);
  }
}

.separateDiv img {
  height:1.2em;
}

.flowerKnows {
position: relative;
margin-bottom: 14em;
}

.btn {
position: absolute;
top: 2em;
left: 20em;
height: 6em;
width: 12em;
display: flex;
align-items: center;
justify-content: center;
background: transparent;
border: 0px solid black;
}

.wrapper {
height: 4em;
width: 10em;
position: relative;
background: transparent;
display: flex;
justify-content: center;
align-items: center;
}

.text {
font-size: 17px;
z-index: 1;
color: #D44167;
padding: 4px 12px;
border-radius: 4px;
background: rgba(255, 255, 255, 0.7);
transition: all 0.5s ease;
}

.flower {
display: grid;
grid-template-columns: 1em 1em;
position: absolute;
transition: grid-template-columns 0.8s ease;
}

.flower1 {
top: -12px;
left: -13px;
transform: rotate(5deg);
}

.flower2 {
bottom: -5px;
left: 8px;
transform: rotate(35deg);
}

.flower3 {
bottom: -15px;
transform: rotate(0deg);
}

.flower4 {
top: -14px;
transform: rotate(15deg);
}

.flower5 {
right: 11px;
top: -3px;
transform: rotate(25deg);
}

.flower6 {
right: -15px;
bottom: -15px;
transform: rotate(30deg);
}

.petal {
height: 1em;
width: 1em;
border-radius: 40% 70% / 7% 90%;
background: linear-gradient(#FBA2BA, #FA7EA3);
border: 0.5px solid #F6C8D1;
z-index: 0;
transition: width 0.8s ease, height 0.8s ease;
}

.two {
transform: rotate(90deg);
}

.three {
transform: rotate(270deg);
}

.four {
transform: rotate(180deg);
}

.btn:hover .petal {
background: linear-gradient(#D44167, #FBA2BA);
border: 0.5px solid #FA7EA3;
cursor: pointer;
}

.btn:hover .flower {
grid-template-columns: 1.5em 1.5em;
}

.btn:hover .flower .petal {
width: 1.5em;
height: 1.5em;
}

.btn:hover .text {
background: rgba(255, 255, 255, 0.4);
}

.btn:hover div.flower1 {
animation: 15s linear 0s normal none infinite running flower1;
}

@keyframes flower1 {
0% {
  transform: rotate(5deg);
}

100% {
  transform: rotate(365deg);
}
}

.btn:hover div.flower2 {
animation: 13s linear 1s normal none infinite running flower2;
}

@keyframes flower2 {
0% {
  transform: rotate(35deg);
}

100% {
  transform: rotate(-325deg);
}
}

.btn:hover div.flower3 {
animation: 16s linear 1s normal none infinite running flower3;
}

@keyframes flower3 {
0% {
  transform: rotate(0deg);
}

100% {
  transform: rotate(360deg);
}
}

.btn:hover div.flower4 {
animation: 17s linear 1s normal none infinite running flower4;
}

@keyframes flower4 {
0% {
  transform: rotate(15deg);
}

100% {
  transform: rotate(375deg);
}
}

.btn:hover div.flower5 {
animation: 20s linear 1s normal none infinite running flower5;
}

@keyframes flower5 {
0% {
  transform: rotate(25deg);
}

100% {
  transform: rotate(-335deg);
}
}

.btn:hover div.flower6 {
animation: 15s linear 1s normal none infinite running flower6;
}

@keyframes flower6 {
0% {
  transform: rotate(30deg);
}

100% {
  transform: rotate(390deg);
}
} 

#About {
position: relative;
}

.aboutLine {
position: absolute;
top: -3.5em;
right: 0em;
height: 1.5em;
width: 60em;
background-color: var(--neutral);
z-index: 3;
border-radius: 3em 0 0 3em;
}

.aboutSecondLine {
position: absolute;
top: -3.5em;
right: 0em;
height: 1.5em;
width: 50em;
background: linear-gradient(180deg, var(--dark), #EB5C84, var(--pink));
z-index: 3;
border-radius: 3em 0 0 3em;
}

.aboutMe {
font-family: 'Carena';
font-size: 2em;
color: var(--dark);
position: absolute;
top: -2em;
left: 12em;
}

.aboutMe span {
font-size: .6em;
}

.narrative {
font-size: 1.5em;
font-family: 'Caviar';
font-weight: 700;
color: var(--dark);
margin: 0 4em;
line-height: 1.4;
position: absolute;
top: 1.5em;
z-index: 1;
}

.narrative:hover {
color: var(--pink);
cursor: pointer;
}

.backgroundN {
background: conic-gradient(from 180deg at 50% 72%, var(--light), var(--neutral));
width: 90%;
height: 20em;
position: absolute;
right: 5em;
opacity: .4;
z-index: 0;
border-radius: 3em;
animation: 2.5s cubic-bezier(.25, 1, .30, 1) circleInNarrative both infinite;
}

@keyframes circleInNarrative {
0% {
  clip-path: circle(0%);
}
40% {
  clip-path: circle(40%);
}
100% {
  clip-path: circle(125%);
}
}
