@font-face {
    font-family: 'Carena';
    src: url('Carena-Regular.otf');
  }
  
@font-face {
    font-family: 'Caviar';
    src: url('CaviarDreams.ttf');
  }

:root {
    --dark: #D44167;
    --pink: #FA7EA3;
    --neutral:#FBA2BA;
    --light:#F6C8D1;
    --lightest:#F3EEE6;

    --font: #F39237;
} 

html {
    background-color: #F3EEE6;
    opacity: 1;
    background: radial-gradient(circle, transparent 20%, #F3EEE6 20%, #F3EEE6 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #F3EEE6 20%, #F3EEE6 80%, transparent 80%, transparent) 20px 20px, linear-gradient(#FFC6D1 1.6px, transparent 1.6px) 0 -0.8px, linear-gradient(90deg, #FFC6D1 1.6px, #F3EEE6 1.6px) -0.8px 0;
    background-size: 40px 40px, 40px 40px, 20px 20px, 20px 20px;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ========================================================= */
/* ======================== HEADER ========================= */
/* ========================================================= */
header {
  background: linear-gradient(90deg, var(--lightest), #F3DED8, var(--light));
  padding: 2em;
}

header section {
  display: flex;
  justify-content: space-between;
}

header section p {
  font-family: 'Carena';
  font-size: 1.8em;
  color: var(--dark);
}

header section p span {
  color: var(--pink);
}

header section article:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.5em;
    font-family: 'Carena';
    right: 0;
    top: 1rem;
    z-index: 10;
    }
  
header section article > div {
    position: relative;
    font-size: 0.875rem;
    text-shadow: 1px 1px var(--light);
    letter-spacing: 1px;
}
    
header section article > div::before {
    content: "";
    position: absolute;
    z-index: -2;
    background-color: var(--neutral);
    left: 0;
    bottom: 0;
    max-width: 100%;
    height: 50%;
    width: 0;
    transition: width 500ms;
    border-radius: 3em;
}
  
header section article > div:hover::before {
    width: 100%;
    border-radius: 3em;
    cursor: pointer;
}
  
header section article > div.active::before {
    width: 100%;
}

header section article div:first-child {
  display: flex;
  font-size: 10px;
  gap: 10px;
}

header section article div:nth-child(2) {
  display: flex;
  font-size: 10px;
  gap: 10px;
}

header section article div:nth-child(3) {
  display: flex;
  font-size: 10px;
  gap: 10px;
}

#grade {
  display: flex;
  font-size: 10px;
  gap: 10px;
  border: 3px solid #D44167;
  padding: 2em;
  border-radius: 5em;
  transition: all 0.2s;
  animation: bounce 5s infinite linear;
  position: relative;
}

#grade:hover {
    background-color: #D44167;
    color: #F3EEE6;
    cursor: pointer;
}

@keyframes bounce {
    0% {
      top: 0em;
    }
    40% {
      top: 0em;
    }
    43% {
      top: -0.9em;
    }
    46% {
      top: 0em;
    }
    48% {
      top: -0.4em;
    }
    50% {
      top: 0em;
    }
    100% {
      top: 0em;
    }
  } 

header section article img {
    height: 20px;
  }

/* ========================================================= */
/* ========================= MAIN ========================== */
/* ========================================================= */
main section article {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10em;
}

main section article:first-child {
    font-family: 'Caviar';
    font-size: 3em;
    font-weight: 1000;
    color: var(--dark);
    text-align: end;
}

.paragraphs {
    position: relative;
}

.elements {
    background: linear-gradient(180deg, var(--dark), #EB5C84, var(--pink))
}

.line1 {
    height: 5px;
    width: 7em;
    position: absolute;
    top: 3em;
    border-radius: 5em;
}

.line2 {
    height: 5px;
    width: 15em;
    position: absolute;
    top: 6.5em;
    left: 5em;
}

.para1 {
    position: absolute;
    top: 2.5em;
    left: 8em;
    z-index: 3;
    white-space: nowrap;
}

#puno {
    font-family: 'Carena' !important;
    font-weight: 600 !important;
    text-transform: uppercase;
    font-size: 1em !important;
    position: absolute;
    top: 3.9em;
    left: 5em;
    z-index: 3;
    white-space: nowrap;
}

.para2 {
    position: absolute;
    top: 6.8em;
    left: 6.3em;
    z-index: 3;
    white-space: nowrap;
    text-transform: uppercase;
}

.relative {
    position: relative;
}

.curvy {
    position: absolute;
    right: -0em;
    top: -.55em;
    background: url(curvy.png);
    opacity: 1 !important;
    background-position: right top;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 2;
    width: 18em !important;
    height: 16em !important;
    overflow: hidden;
}

.oli {
    position: absolute;
    right: 0;
    top: 1.5em;
    background: url(background.png);
    opacity: 1 !important;
    background-position: right top;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
    width: 13em !important;
    height: 13em !important;
}

.separateDiv {
    background-color: var(--pink);
    padding: 1em;
    width: 40em;
    border-radius: 0 3em 3em 0;
    font-family: 'Carena';
    font-size: 18px;
    color: var(--lightest);
    display: flex;
    justify-content: end;
    align-items: center;
    gap:1em;
    letter-spacing: 1.2px;
    outline: 0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .1);
}

.separateDiv:hover {
    cursor: pointer;
    opacity: .8;
}

.separateDiv .animation {
    border-radius: 100%;
    animation: ripple 0.6s linear infinite;
  }
  
  @keyframes ripple {
    0% {
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1);
    }
  
    100% {
      box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1), 0 0 0 80px rgba(255, 255, 255, 0);
    }
  }

.separateDiv img {
    height:1.2em;
}

.flowerKnows {
  position: relative;
  margin-bottom: 14em;
}

.btn {
  position: absolute;
  top: 2em;
  left: 20em;
  height: 6em;
  width: 12em;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: 0px solid black;
}

.wrapper {
  height: 4em;
  width: 10em;
  position: relative;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  font-size: 17px;
  z-index: 1;
  color: #D44167;
  padding: 4px 12px;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.7);
  transition: all 0.5s ease;
}

.flower {
  display: grid;
  grid-template-columns: 1em 1em;
  position: absolute;
  transition: grid-template-columns 0.8s ease;
}

.flower1 {
  top: -12px;
  left: -13px;
  transform: rotate(5deg);
}

.flower2 {
  bottom: -5px;
  left: 8px;
  transform: rotate(35deg);
}

.flower3 {
  bottom: -15px;
  transform: rotate(0deg);
}

.flower4 {
  top: -14px;
  transform: rotate(15deg);
}

.flower5 {
  right: 11px;
  top: -3px;
  transform: rotate(25deg);
}

.flower6 {
  right: -15px;
  bottom: -15px;
  transform: rotate(30deg);
}

.petal {
  height: 1em;
  width: 1em;
  border-radius: 40% 70% / 7% 90%;
  background: linear-gradient(#FBA2BA, #FA7EA3);
  border: 0.5px solid #F6C8D1;
  z-index: 0;
  transition: width 0.8s ease, height 0.8s ease;
}

.two {
  transform: rotate(90deg);
}

.three {
  transform: rotate(270deg);
}

.four {
  transform: rotate(180deg);
}

.btn:hover .petal {
  background: linear-gradient(#D44167, #FBA2BA);
  border: 0.5px solid #FA7EA3;
  cursor: pointer;
}

.btn:hover .flower {
  grid-template-columns: 1.5em 1.5em;
}

.btn:hover .flower .petal {
  width: 1.5em;
  height: 1.5em;
}

.btn:hover .text {
  background: rgba(255, 255, 255, 0.4);
}

.btn:hover div.flower1 {
  animation: 15s linear 0s normal none infinite running flower1;
}

@keyframes flower1 {
  0% {
    transform: rotate(5deg);
  }

  100% {
    transform: rotate(365deg);
  }
}

.btn:hover div.flower2 {
  animation: 13s linear 1s normal none infinite running flower2;
}

@keyframes flower2 {
  0% {
    transform: rotate(35deg);
  }

  100% {
    transform: rotate(-325deg);
  }
}

.btn:hover div.flower3 {
  animation: 16s linear 1s normal none infinite running flower3;
}

@keyframes flower3 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.btn:hover div.flower4 {
  animation: 17s linear 1s normal none infinite running flower4;
}

@keyframes flower4 {
  0% {
    transform: rotate(15deg);
  }

  100% {
    transform: rotate(375deg);
  }
}

.btn:hover div.flower5 {
  animation: 20s linear 1s normal none infinite running flower5;
}

@keyframes flower5 {
  0% {
    transform: rotate(25deg);
  }

  100% {
    transform: rotate(-335deg);
  }
}

.btn:hover div.flower6 {
  animation: 15s linear 1s normal none infinite running flower6;
}

@keyframes flower6 {
  0% {
    transform: rotate(30deg);
  }

  100% {
    transform: rotate(390deg);
  }
} 
/* ========================================================= */
/* ========================= ABOUT ========================= */
/* ========================================================= */
#About {
  position: relative;
}

.aboutLine {
  position: absolute;
  top: -4em;
  right: 0em;
  height: 1.5em;
  width: 60em;
  background-color: var(--neutral);
  z-index: 3;
  border-radius: 3em 0 0 3em;
}

.aboutSecondLine {
  position: absolute;
  top: -4em;
  right: 0em;
  height: 1.5em;
  width: 50em;
  background: linear-gradient(180deg, var(--dark), #EB5C84, var(--pink));
  z-index: 3;
  border-radius: 3em 0 0 3em;
}

.aboutMe {
  font-family: 'Carena';
  font-size: 2em;
  color: var(--dark);
  position: absolute;
  top: -2.1em;
  left: 12em;
}

.aboutMe span {
  font-size: .6em;
}

.narrative {
  font-size: 1.5em;
  font-family: 'Caviar';
  font-weight: 700;
  color: var(--dark);
  margin: 0 4em;
  line-height: 1.4;
  position: absolute;
  top: 1.5em;
  z-index: 1;
}

.narrative:hover {
  color: var(--pink);
  cursor: pointer;
}

.backgroundN {
  background: conic-gradient(from 180deg at 50% 72%, var(--light), var(--neutral));
  width: 90%;
  height: 20em;
  position: absolute;
  right: 5em;
  top: 1em;
  opacity: .4;
  z-index: 0;
  border-radius: 3em;
  animation: 2.5s cubic-bezier(.25, 1, .30, 1) circleInNarrative both infinite;
}

@keyframes circleInNarrative {
  0% {
    clip-path: circle(0%);
  }
  40% {
    clip-path: circle(40%);
  }
  100% {
    clip-path: circle(125%);
  }
}
/* ========================================================= */
/* ======================== GALLERY ======================== */
/* ========================================================= */
.gallery-main {
  position: relative;
  overflow: hidden;
}

.gallery-main h3 {
  position: absolute;
  top: -1.4em;
  left: -2em;
  margin: 10.5em 0 0 2.5em;
  font-family: 'Carena';
  color: var(--dark);
  font-size: 2.5em;
  font-weight: normal;
}

.gallery-images {
  height: 17em;
  width: 17em;
  border-radius: 1em;
  object-fit: cover;
}

.gallery-list {
  display: flex;
  margin-top: 28em;
  gap: 2em;
}

.gallery-list-items:hover .gallery-images {
  transition: all 1s ease-in-out;
  transform: scale(1.1);
  margin: 0 30px;
}

.gallery-wrapper {
  margin-left:2em;
}

.right {
  position: absolute;
  bottom: .8em;
  right: 0.2em;
  font-size: 6em;
  opacity: .8;
}

.right:hover {
  cursor: pointer;
  opacity: .6;
}
/* ========================================================= */
/* ========================= SKILLS ======================== */
/* ========================================================= */
.list-skills {
  margin: 2em;
  position: relative;
}

.skills > p{
  border: 5px solid var(--pink);
  border-radius:2em 0 2em 0;
  display: inline-block;
  padding: .8em .5em;
  font-family: 'Carena';
  font-size: 2em;
  text-align: center;
  position: absolute;
  left: 20em;
  top: -5em;
  color: var(--dark);
}

.skillsLine {
  height: .5em;
  width: 40.5em;
  background-color: var(--pink);
  border-radius: 20px;
  position: absolute;
  top: -7.5em;
}

.skillsLine2 {
  height: .5em;
  width: 39.1em;
  background-color: var(--pink);
  border-radius: 20px;
  position: absolute;
  right: 0;
  top: -7.5em;
}

.softSkills {
  background: radial-gradient(circle at 49% 49%,var(--light), var(--neutral));
  padding: 3em;
  border-radius: 2em;
  margin: 13em 0 3em 0;

}

.softSkills > p, 
.technicalSkills > p {
  font-family: 'Carena';
  font-size: 2em;
  color: var(--dark);
  margin-bottom: 20px;
}

.softSkills > img {
  width: 2em;
  height: 2em;
  position: relative;
  top: -3.7em;
  left: 13em;
}

.softSkills > img:hover,
.technicalSkills > img:hover {
  cursor: pointer;
  opacity: .5;
}

.softSkillsImg {
  height: 7em;
  width: 7em;
}

.softSkillsImg:hover {
  transition: all 1s ease-in-out;
  transform: scale(1.1);
  opacity: .8;
}

.softSkillsParent  {
  display: flex;
  justify-content: space-evenly;
  gap: 5em;
}

.softSkillsParent * p {
  font-family: 'Caviar';
  text-align: center;
  text-transform: uppercase;
  color: var(--dark);
  font-weight: bold;
}

.technicalSkills > p {
  text-align: right;
}

.technicalSkills > img {
  width: 2em;
  height: 2em;
  position: relative;
  top: -3.7em;
  left: 69em;
}

.technicalSkillsTitle {
  margin-bottom: 4em;
}

.technicalSkillsTitle > p {
  font-family: 'Carena';
  font-size: 2em;
  color: var(--dark);
  margin: 0  0  2em 5em;
}

.technicalSkillsImg {
  width: 5em;
  height: 6em;
}

.technicalSkillsImg:hover,
.technicalSkillsGS:hover,
.technicalSkillsM:hover,
.technicalSkillsE:hover {
  transition: all 1s ease-in-out;
  transform: scale(1.1);
  opacity: .8;
}

.technicalSkillsUN {
  display: flex;
  justify-content: center;
  gap: 10em;
}

.technicalSkillsL {
  display: flex;
  justify-content: center;
  gap: 10em;
}

.technicalSkillsOS {
  display: flex;
  justify-content: center;
  gap: 10em;
}

.technicalSkillsUN,
.technicalSkillsL,
.technicalSkillsOS * p {
  font-family: 'Caviar';
  text-align: center;
  color: var(--dark);
  font-weight: bold;
} 

.technicalSkillsGS {
  width: 6.5em;
  height: 5em; 
}

.technicalSkillsM {
  width: 5em;
  height: 5em;  
  margin-left: 2em;
}

.technicalSkillsE {
  width: 5em;
  height: 5em;
  margin-left: 1em;  
}

hr {
  border: var(--dark) solid .2em;
  margin-bottom: 3em;
}
/* ========================================================= */
/* ======================== PROJECTS ======================= */
/* ========================================================= */
.projectTitle {
  font-family: 'Carena';
  font-size: 3em;
  text-align: right;
  color: var(--dark);
  text-shadow: 7px 5px 10px rgba(212, 65, 103, 0.3);
  margin-right:2em ;
}

.firstProject {
  margin: 2em;
}

.firstProject img {
  width: 80%;
  height: 70%;
  margin-left: 10em;
}

.paraProj {
  font-family: 'Caviar';
  font-size: 2em;
  margin: 20px;
  font-weight: bold;
  color: var(--dark);
}

.Infographics img {
  width: 50%;
  height: 70%;
  margin-left: 25em;
}

.Infographics {
  margin: 2em;
}

.subTitle {
  font-family: 'Carena';
  font-size: 2.5em;
  color: var(--dark);
  margin: 20px;
  text-align: center;
}

.MockUp {
  margin: 2em;
}

.MockUp img {
  margin-left: 26em;
}

.btnClass {
  position: relative;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  padding-block: 0.5rem;
  padding-inline: 1.25rem;
  padding:1.5em ;
  background-color: var(--pink);
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffff;
  gap: 10px;
  font-weight: bold;
  border: 3px solid #ffffff4d;
  outline: none;
  overflow: hidden;
  font-size: 15px;
  font-family: 'Carena';
}

.icon {
  width: 24px;
  height: 24px;
  transition: all 0.3s ease-in-out;
}

.btnClass:hover {
  transform: scale(1.05);
  border-color: #fff9;
  cursor: pointer;
}

.btnClass:hover .icon {
  transform: translate(4px);
}

.btnClass:hover::before {
  animation: shine 1.5s ease-out infinite;
}

.btnClass::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0) 70%
  );
  top: 0;
  left: -100px;
  opacity: 0.6;
}

@keyframes shine {
  0% {
    left: -100px;
  }

  60% {
    left: 100%;
  }

  to {
    left: 100%;
  }
}
/* ========================================================= */
/* ========================== FORMS ======================== */
/* ========================================================= */

#Contact {
  position: relative;
}

.formsLine {
  height: 1.5em;
  width: 50em;
  background-color: var(--neutral);
  z-index: 3;
  border-radius: 0 3em 3em 0;
  position: absolute;
}

.formsSecondLine {
  height: 1.5em;
  width: 60em;
  background: linear-gradient(180deg, var(--dark), #EB5C84, var(--pink));
  z-index: 3;
  border-radius: 0 3em 3em 0;
}

#Contact h3 {
  font-family: 'Carena';
  position: absolute;
  right: 8em;
  top: -.2em;
  font-size: 2em;
  color: var(--dark);
}

#Contact > p {
  font-family: 'Caviar';
  text-align: center;
  color: var(--dark);
  font-weight: bold;
  font-size:2em ;
  margin: 2em;
  text-transform: uppercase;
}

.formFeedback {
  background-color: var(--light);
  border-radius:20px;
  width: 21.5em;
  height: 30em;
  margin: auto;
  padding: 2px;
}

form {
  margin: 20px 0 0 20px;
  width: 300px;
}

form label {
  margin: 8px;
  display: flex;
  font-size: 1.5em;
  font-family: 'Carena';
  color: var(--dark);
}

form input {
  background-color: var(--neutral);
  border-radius: 10px;
  width: 100%;
  padding: 1em;
  border: 1px solid var(--pink);
}

.message {
  height: 9em;
}

.formClass {
  margin:1% 0 0 45%;
  
}

.formSubmit {
  width: 10em;
  position: relative;
  height: 3.5em;
  border: 3px ridge var(--neutral);
  outline: none;
  background-color: transparent;
  color: var(--dark);
  transition: 1s;
  border-radius: 0.3em;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  font-family: 'Carena';
}

.formSubmit::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 3%;
  width: 95%;
  height: 40%;
  background-color: var(--lightest);
  transition: 0.5s;
  transform-origin: center;
}

.formSubmit::before {
  content: "";
  transform-origin: center;
  position: absolute;
  top: 80%;
  left: 3%;
  width: 95%;
  height: 40%;
  background-color: var(--lightest);
  transition: 0.5s;
}

.formSubmit:hover::before, button:hover::after {
  transform: scale(0)
}

.formSubmit:hover {
  box-shadow: inset 0px 0px 25px var(--dark);
}

.paraOther {
  font-family: 'Caviar';
  text-align: center;
  color: var(--dark);
  font-weight: bold;
  font-size:2em ;
  margin: 1em;
  text-transform: uppercase;
}

.otherLinksClass {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.otherLinksImg {
  width: 4em;
  height: 4em;
}

.otherLinksImg:hover {
  cursor: pointer;
}

footer {
  font-family: 'Carena';
  color: var(--dark);
  margin: 2em 26em 1em 26em;
  font-size:1.5em ;
  white-space: nowrap;
}